{% extends "base.html" %}
{% block title %} {{ gettext("You are not alone") }} {% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3">
	<div class="panel panel-default">
	  <div class="panel-heading">
            <h1 class="panel-title">
	      <input id="sl1" type="text" data-slider-min="0" data-slider-max="30" data-slider-step="1" data-slider-value="0"/>
	    </h1>
	  </div>
	  <div class="panel-body">
	    <p>
	      {{ gettext("If we can represent a pair of eyes, we can also represent many eyes.") }}
	    </p>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
            <h1 class="panel-title">
	      <input id="sl2" type="text" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
	    </h1>
	  </div>
	  <div class="panel-body">
	    <p>
	      {{ gettext("And the eyes can still look around...") }}
	    </p>
	  </div>
	</div>
      </div>
      <div class="col-md-9">
	<div class="panel panel-default">
	  <div class="panel-heading">
            <h1 class="panel-title">
	      {{ gettext("Many eyes") }}
	    </h1>
	  </div>
	  <div class="panel-body">
	    <div id="sketch-holder">
	      <script language="javascript" type="text/javascript" src="{{ page_js_script }}"></script>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
{% endblock %}
