{% extends "base.html" %}
{% block title %} {{ gettext("A pair of eyes.") }} {% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
            <h1 class="panel-title">
	      <div class="btn-group" role="group" aria-label="...">
		<input id="sl1" type="text" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
	      </div>
	    </h1>
	  </div>
	  <div class="panel-body">
	    <p>
	      {{ gettext("As we have seen, the eyes can appear looking to the right or to the left.") }}
	    </p>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
            <h1 class="panel-title">
	      <div class="btn-group" role="group" aria-label="...">
		<input id="sl2" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
	      </div>
	    </h1>
	  </div>
	  <div class="panel-body">
	    <p>
	      {{ gettext("We can also make closed eyelids by adding black rectangles on the upper part of the eyes.") }}
	    </p>
	  </div>
	</div>
      </div>
      <div class="col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
            <h1 class="panel-title">
	      Eyes in the dark !
	    </h1>
	  </div>
	  <div class="panel-body">
	    <div id="sketch-holder">
	      <script language="javascript" type="text/javascript" src="{{ page_js_script }}"></script>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
{% endblock %}
